<div
    class="w-64 h-auto p-4 bg-slate-100 mt-11 mb-11 rounded-e-3xl rounded-b-3xl"
>
    <div
        class="flex items-center justify-center w-full h-auto pt-4 pb-4 bg-white rounded-e-3xl rounded-b-3xl"
    >
        <div class="slider">
            <input
                style="display: none"
                type="radio"
                name="slide"
                id="img1"
                checked
            />
            <input
                style="display: none"
                type="radio"
                name="slide"
                id="img2"
            />
            <input
                style="display: none"
                type="radio"
                name="slide"
                id="img3"
            />
            <div class="images">
                <div>
                    <img
                        src="assets/img1.jpg"
                        class="mb-3 m1 rounded-xl"
                        alt="img1"
                        width="100"
                    />
                    <h2 class="text-sm font-semibold text-left">
                        +10 millones de interacciones
                    </h2>
                    <p class="text-left line-clamp-3">
                        Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Expedita, amet consectetur
                        ipsum dolor
                    </p>
                </div>

                <div>
                    <img
                        src="assets/img2.jpg"
                        class="mb-3 m1 rounded-xl"
                        alt="img2"
                        width="100"
                    />
                    <h2 class="text-sm font-semibold text-left">
                        Lo mas efectivo en los chatbots
                    </h2>
                    <p class="text-left line-clamp-3">
                        Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Expedita, amet consectetur
                        ipsum dolor
                    </p>
                </div>

                <div>
                    <img
                        src="assets/img3.jpg"
                        class="mb-3 m1 rounded-xl"
                        alt="img3"
                        width="100"
                    />
                    <h2 class="text-sm font-semibold text-left">
                        Lo mas importante a la hora de implementarlos
                    </h2>
                    <p class="text-left line-clamp-3">
                        Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Expedita, amet consectetur
                        ipsum dolor
                    </p>
                </div>
            </div>
            <div class="flex items-center justify-center mt-3 mb-3">
                <button mat-stroked-button color="primary">
                    Leer más
                </button>
            </div>

            <div class="dots">
                <label for="img1" class="dot"></label>
                <label for="img2" class="dot"></label>
                <label for="img3" class="dot"></label>
            </div>
        </div>
    </div>
</div>
