<main class="seccion-demo">
    <div
        class="flex flex-wrap items-center justify-center w-full seccion-demo-flex gap-11 sm:gap-11 md:gap-11 lg:gap-16 xl:gap-16 sm:pr-1 lg:pr-1 md:pr-1"
    >
        <h3 class="text-2xl text-center text-white">
            +10 millones de <br />interacciones
        </h3>
        <h3 class="text-2xl text-center text-white">
            +90% de respuestas<br />
            acertadas
        </h3>
        <h3 class="text-2xl text-center text-white">
            Personalizado para tu<br />
            empresa
        </h3>
        <h3 class="text-2xl text-center text-white">
            Generacion de<br />
            prospectos
        </h3>
    </div>
    <div class="flex items-center justify-center w-full pt-20">
        <button class="btn-demo" (click)="requestDemo()">
            Solicitar una demo
            <span class="hover-number">5</span>
        </button>
    </div>
</main>
